@model IEnumerable<AdminUserListingServiceModel>
@{
    ViewData["Title"] = "Moderators";
}

<h2>Moderators</h2>

@Html.Partial("_ListUsers", Model)
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

