@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    Context.Response.Redirect("/user/NewFriends");
}
<div class="body-margin">
    <p>
        „Не е възможно да се запази снежинката през лятото, идва и нейното време да се разтопи. И макар да ти е трудно да повярваш, но задължително ще падне нов сняг. Просто се довери на времето и го дочакай, свеж, чист, първи сняг. А ако още тъгуваш по това, което е отминало, ако още не е забравено докрай, повтаряй си наум: „лански сняг е, лански, лански …“ Прекрасен ден и повярвайте - новият сняг е съвсем близо
    </p>
</div>
