@model IEnumerable<UserListViewModel>

<div class="row user-page">

    @foreach (var user in Model)
    {
        <div class="col-md-3">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h4 class="panel-title"><a asp-controller="User" asp-action="UserInfo" asp-route-userId="@user.Id">@user.FirstName</a></h4>
                </div>
                <div class="panel-body user-list-photo">
                    <a asp-controller="User" asp-action="UserInfo" asp-route-userId="@user.Id"><img src=@user.PhotoPath alt="userPhoto" class="img-responsive" /></a>
                </div>
            </div>
        </div>
    }

</div>
