@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-color-azure">
    <h2>Book &amp; Travel</h2>
    <h3>Transfers from Sofia airport to Borovets</h3>
    <h5>Transfers to Borovets prices – please ask for other destinations or requirements</h5>
</div>

<div class="row user-page">
    <div class="col-md-3">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Regular</h3>
                
            </div>
            <div class="panel-body-red">
                <h5>4 PEOPLE RETURN TRANSFER</h5>
                <h4> €84 + free food and drinks per passenger </h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Familly trip</h3>
            </div>
            <div class="panel-body-blue">
                <h5>5-8 PEOPLE RETURN TRANSFER</h5>
                <h4> €120 + free food and drinks per passenger </h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Mini Transfer</h3>
            </div>
            <div class="panel-body-green">
                <h5>1-3 PEOPLE RETURN TRANSFER</h5>
                <h4> €74 + free food and drinks per passenger </h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Party trip</h3>
            </div>
            <div class="panel-body-smess">
                <h5>9-12 PEOPLE RETURN TRANSFER </h5>
                <h4> €170 + free food and drinks per passenger </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="text-center text-color-azure">
        <div class="col-md-8">
            <h5>
                Each transfer comes with free refreshments and a unique welcome pack containing vouchers for free food & drinks in the resort, including a free Spicy Nachos and a free Turkish Bread. There are also discount vouchers for activities such as horse-riding, ski-doo etc.
            </h5>
            <a class="btn btn-success btn-group-lg" asp-controller="Transfers" asp-action="SelectTransferType">CHOOSE YOUR TRANSFER</a>
            <h3>Have a nice journey!</h3>
            <a class="btn btn-info btn-group-lg" href="https://www.facebook.com/Book.Travel.Borovets/" name="Facebook-Page" target="_blank">Book&amp;Travel on FACEBOOK</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

