@model IEnumerable<AdminUserListingServiceModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr style="color:azure;">
            <th>
                Email
            </th>
            <th>
                Actions
            </th>

        </tr>
    </thead>
    <tbody style="background-color:bisque">
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Email
                </td>
                <td>
                    @if (User.IsInRole(DataConstants.AdministratorRole))
                    {
                        <a class="btn btn-danger btn-sm" asp-controller="Users" asp-action="DeleteUser" asp-route-userId="@user.Id" asp-route-email="@user.Email">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
