body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-margin {
    padding-top: 50px;
}

.row-margin {
    padding-top: 25px;
}

.text-color-azure {
    color: azure;
    padding: 15px;
}


.panel-transparent {
    background: none;
}

    .panel-transparent .panel-heading {
        background: rgba(122, 130, 136, 0.6) !important;
        color:gold;
    }

    .panel-transparent .panel-body {
        background: rgba(46, 51, 56, 0.2) !important;
        color: gold;
    }

    .panel-transparent .panel-body-red{
        background: rgba(160, 3, 3, 0.80) !important;
        color: gold;
        padding:15px;
    }

    .panel-transparent .panel-body-green {
        background: rgba(3, 130, 3, 0.80) !important;
        color: gold;
        padding: 15px;
    }

    .panel-transparent .panel-body-blue {
        background: rgba(3, 3, 160, 0.80) !important;
        color: gold;
        padding: 15px;
    }

    .panel-transparent .panel-body-smess {
        background: rgba(160, 3, 120, 0.80) !important;
        color: gold;
        padding: 15px;
    }

    .panel-transparent .panel-body-trinfo {
        background: rgba(46, 51, 56, 0.80) !important;
        color: gold;
        padding: 15px;
    }


    .panel-heading .panel-title{
        text-align:center;
    }

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('../jpg/back2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(0px);
}

.content {
    overflow: auto;
    position: relative;
}

.button-margin {
    margin-bottom:20px;
}

.user-page .img-responsive{
    height: 130px !important;
}

.user-list-photo{
    padding : 5px !important;
    align-items: center;
}

.user-bigphoto{
    min-height: 580px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.name-content{
    padding-left: 35px;
}

.message-content {
    padding-left: 10px;
}

.favorite-padding {
    padding-right: 5px;
}

.name-font {
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    padding-left : 0px;
}
/* Carousel */

.slide {
    width: 80%;
}

.carousel-caption p{
    font-size: 20px;
    line-height: 1.4;
}



/*.item {
    position: center;
}*/
div.c-wrapper {
    width: 100%; /* for example */
    margin: auto;
}

div.vertical-line {
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%; /* use this, or not */
    margin: auto;
}

.carousel-padding {
    padding-top: 7px;
}
/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    position: center;
}*/

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*picture paggination NewFriends*/
/*.pagination {
    display: inline-block;
}*/

    .friends-list a{
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

    .friends-list img{
        width: 100px;
        height: 70px;
        }
/*till here*/

/*blinking text*/
.blink_me {
    animation: blinker 3s linear infinite;
    color:antiquewhite;
}

.blink_me_background {
    background: rgba(46, 51, 56, 0.5) !important;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/*blinking text*/

