@model AirportViewModel
@{
    ViewData["Title"] = "Delete Airport";
}

<h2 style="color:azure;">Are you sure you want to delete - @Model.Name</h2>

<div class="row">
    <div class="col-md-2">
        <form method="post" asp-controller="Airports" asp-action="DestroyAirport" asp-route-airportId="@Model.Id">
            <input type="submit" class="btn btn-danger form-control" value="Yes" />
        </form>
    </div>
    <div class="col-md-2">
        <a asp-controller="Airports" asp-action="AllAirports" class="btn btn-info form-control">No</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



