@model NewAirportViewModel
@{
    ViewData["Title"] = "New Airport";
}

<h2 style="color:azure;">New Airport</h2>
<div class="text-color-azure">
    <div class="row">
        <form method="post">
            <div class="col-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <a class="btn btn-info pull-right" asp-action="AllAirports">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

